* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: 'Roboto', sans-serif;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fcfcfc;
    opacity: 0.7;
    height: 100vh;
  }

  .container-cornes {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fcfcfc;
    opacity: 0.9;
    height: auto;
  }
  
  .profile {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }

  .profile img {
    width: 90px;
    height: 90px;
  }

  .profile p {
    padding: 25px;
    font-size: 1.0em;
    letter-spacing: 5px;
    color: #28527A;
    text-transform: uppercase;
    text-align: center;
  }
  .cornes { 
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .cornes img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
  }

  .cornes h1 {
    padding: 0px;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #28527A;
    text-transform: uppercase;
    text-align: center;
  }

  .cornes h2 {
    padding: 25px;
    font-size: 1.0em;
    color: #28527A;
    text-align: left;
  }

  .cornes p {
    padding: 25px;
    padding-top: 0px;
    font-size: 1.0em;
    color: #28527A;
    text-align: left;
  }

  .link {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .link a {
    text-decoration: none;
    color: #28527A;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid #28527A;
    background-color: #fcfcfc;
    margin: 7px 70px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .link a:hover {
    background-color: rgb(246, 255, 255);
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
  }

  .fa-color {
    color: #CECECE;
  }

  .fa-color:hover {
    color: #28527A;
  }
